* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
body header {
    margin: 0px 100px;
}
/* header section is implemented here */

.navbar-section {
    margin-bottom: 80px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hamberger-menu-icon {
    display: none;
} 
.navbar-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar-logo h1:hover {
    color: rgb(12, 121, 245);
}
.navbar-logo h1 {
    padding-left: 20px;
    color: #131318;
}
.navbar-logo h1 span {
    color: #FF5400;
}
.navbar-menu ul {
    list-style: none;
    display: flex;
}
.navbar-menu ul a {
    color: #424247;
    text-decoration: none;
    padding:0px 18px;
    transition: font-size 80ms linear, font-weight 80ms linear;
}
.navbar-menu ul  a:hover {
    color: black;
    font-weight: bold;
    font-size: large;
}
.navbar-menu ul a span {
    color: #ff5400;
}
/* search section is implemented here */
.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 425px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    border-radius: 16px;
}
.search-text {
    text-align: center;
}
.search-text h1 {
    font-size: 55px;
    margin-bottom: 50px;
    color: white;
}
.search-text p {
    padding: 20px;
    margin-bottom: 20px;
    color: white;
}
.search-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
}
.search-options .button button {
   background-color: #ff5400;
   color: white;
   display: flex;
   border: none;
   align-items: center;
   justify-content: space-evenly;
   cursor: pointer;
}
.size-of-search,.search-options .button button {
   width: 140px;
   height: 35px;
   padding: 5px 10px;
   border: none;
   border-radius: 5px;
}
/* setting resposiveness of header section for small device */

@media screen and (max-width: 576px) {
    .navbar-section {
        flex-wrap: wrap;
        margin-top: 15px;
        margin-left: 83px;
    }
    body header, main {
        margin: 0px 5px;
    }
    .navbar-menu ul  a{
        font-size: smaller;
        padding: 0px 8px;
    }
    .navbar-menu ul {
        margin-top: 15px;
    }
    .search-section {
        width: 100%;
    }
    .search-options {
        flex-direction: column;
        width: 35%;
        height: 200px;
        padding-bottom: 30px 40px;
    }
    .search-text h1 {
        margin-bottom: 10px;
        font-size: 35px;
    }
    .search-text p {
        padding: 0px;
        font-size: small;
    }
}
/* popular section is implemented here  */
.popular-section {
    margin: 0px 100px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #5A5A5D;
    margin-bottom: 100px;
}
.popular-text h1 {
    font-weight: 900;
    margin-bottom: 26px;
    color: #131318;
}
.popular-text p {
    margin-top: 30px;
}
.popular-text {
    width: 50%;
}.popular-text ul li {
    margin-top: 25px;
}
.popular-button button {
    margin-top: 20px;
    padding: 8px 25px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: #FF5400;
    color: white;
    cursor: pointer;
    transition: padding 95ms linear, font-size 95ms linear;
}
.popular-button button:hover {
    padding: 10px 24px;
    font-size: 15px;
}
.popular-image img {
    width: 100%;
}
/* setting responsiveness of popular section for small device  */

@media screen and (max-width: 576px) {
    .popular-section {
        flex-direction: column;
        margin: 0px 15px;
        margin-top: 100px;
    }
    .popular-text {
        width: 90%;
        margin-bottom: 60px;
    }
}
/* grid text and image section is implemented here  */
.grid-text {
    text-align: center;
    margin-bottom: 50px;
}
.grid-text h1 {
    color: #131318;
    font-weight: 900;
}
.grid-text p {
    padding-top: 20px;
    color: #131318B2;
}
.grid-image {
    margin: 0px 70px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
}
.grid-image div {
    position: relative;
}
.grid-image div img {
    width: 100%;
}
.grid-name {
    color: white;
    position: absolute;
    top: 50%;
    left: 38%;
    font-size: 25px;
}
/* setting responsiveness of grid text and image section for small device  */

@media screen and (max-width: 576px) {
    .grid-text {
        margin-top: 40px;
    }
}
/* choose us section is implemented here */
.choose-us-text {
    margin-bottom: 50px;
    text-align: center;
}
.choose-us-text h1 {
    color: #131318;
}
.choose-us-text p {
    padding-top: 15px;
    color: #131318B2;
}